#masthead
	background: #2F3033
	color: #fff
	padding: 5px 10px

	h1#sitename
		font-size: 28px
		line-height: 28px * 1.2
		margin: 0 20px 0 0
		float: left

		a
			&:link, &:visited 
				color: #fff
				text-decoration: none

	p#tagline
		font-size: 14px
		line-height: 28px * 1.2
		float: left
		margin: 0

